@use 'abstracts' as *;
@use 'base' as *;

/* ======== */
/* Main CSS */
/* ======== */

html,
body,
.promo,
.wrapper {
  height: auto;
  min-height: 100dvh;
}

body {
  position: relative;
  font-family: $font-family-stack;
  font-weight: bold;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #292929;
  background-image: url('@/assets/images/bg-lighting-dark.webp'),
    url('@/assets/images/bg-lighting-light-mobile.webp'),
    linear-gradient(180deg, #0c0c0c 0%, #1d1d1d 100%);
  background-size: calc-rel-width(561px, 390px), calc-rel-width(407px, 390px);
  background-position:
    center,
    94px -60px,
    center;
  background-repeat: no-repeat;

  @include laptop-up {
    background-color: #8034fd;
    background-image: url('@/assets/images/bg-img-wide.webp'),
      url('@/assets/images/right-deecor-img.webp');
    background-size:
      calc-rel-width(887px, 1440px) 100%,
      contain;
    background-position: left, right;
    background-repeat: no-repeat;
  }

  @include critial-laptop-height {
    background-color: #292929;
    background-image: url('@/assets/images/bg-lighting-dark.webp'),
      url('@/assets/images/bg-lighting-light-mobile.webp'),
      linear-gradient(180deg, #0c0c0c 0%, #1d1d1d 100%);
    background-size: calc-rel-width(561px, 390px), calc-rel-width(407px, 390px);
    background-position:
      center,
      94px -60px,
      center;
  }
}

#app,
.wrapper {
  position: relative;
  overflow: hidden;
}
